<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>Dear Geet</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, iure consequatur! Deserunt odit mollitia vel error! Sapiente in nemo a porro voluptatum totam molestiae inventore modi veniam, nesciunt fuga cupiditate nam. Nostrum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In laboriosam voluptas, nisi est nostrum aliquid quisquam repellat, ducimus accusantium ad dolorum voluptatem aperiam vel delectus, quidem dolore voluptate quam incidunt ex perferendis at blanditiis inventore cum consequatur. Unde ratione totam quam voluptatum vitae reiciendis rerum! Perspiciatis ducimus necessitatibus ipsam mollitia doloribus! Officia non esse aut.</p>

</body>
</html>